#
# Plugin configuration file for Image/J 1.40g or newer
#

# Author:   Karl-Heinz Kunzelmann
# Version:  @BUILD_VERSION@
# Date:     @BUILD_DATE@
# Requires: ImageJ 1.40g



#-------------------------------------------------------------------------
# Segmentation
#
Plugins>KHKs_jQuantiGap, "jQuanti_Gap", KHKs_jQuantiGap

#Plugins>KHKs_QuantiGap, "Named_Measurement2", Named_Measurement2
#Plugins>KHKs_QuantiGap, "ResultsAndText_gj", ResultsAndText_gj
#Plugins>KHKs_QuantiGap, "Text_Demo", Text_Demo
#Plugins>KHKs_QuantiGap, "Mouse_Listener KH", Mouse_Listener_KH
#Plugins>KHKs_QuantiGap, "MultiColor_Graphic_Overlay", MultiColor_Graphic_Overlay
