#
# Plugin configuration file for Image/J 1.40g or newer
#

# Author:   Karl-Heinz Kunzelmann
# Version:  @BUILD_VERSION@
# Date:     @BUILD_DATE@
# Requires: ImageJ 1.40g



#-------------------------------------------------------------------------
# Segmentation
#

Plugins>KHKs_jQuantiGap, "jQuantiGap", KHKs_jQuantiGap
